{% extends 'admin/base.html' %}
{% load static %} 
{% block title %} Cart lab test {% endblock title %}
{% block body %}
<div class="container-fluid add-product">
    <div class="row"> 
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="product-info">
              <h5>Unit</h5>
              <form method="post" action="{% url 'unit-add-post' %}">
                {% csrf_token %}
                <div class="product-group">
                  <div class="row"> 
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">Unit Name</label>
                        <input class="form-control" placeholder="Enter Product Name" type="text" name="name"><span class="text-danger"></span>
                      </div>
                    </div>
                  </div>
                 
                  <button class="btn btn-primary me-3" type="submit">ADD </button>
                </div>
              </form>
             
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
{% endblock body %}


