{% extends 'admin/base.html' %}
{% load static %} 
{% block title %} Cart lab test {% endblock title %}
{% block body %}
<div class="container-fluid add-product">
  <div class="row"> 
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="product-info">
            <h5>Product</h5>
            <form method="post" action="{% url 'product-add-post' %}">
              {% csrf_token %}
              <div class="product-group">
                <div class="row"> 
                  <div class="col-sm-12">
                    <div class="mb-3">
                      <label class="form-label">Product Name</label>
                      <input class="form-control" placeholder="Enter Product Name" type="text" name="name">
                    </div>
                  </div>
                </div>
                
                <div class="row">   
                  <div class="col-sm-12">  
                    <div class="mb-3">
                      <label class="form-label">Product Category</label>
                      <select class="form-select  js-example-basic-single" name="category"> 
                       <option>Select Category</option>
                       {% for productCategory in productCategory %}
                       <option value="{{productCategory.id}}">{{ productCategory.name }} </option>
                       {% endfor %}
                       
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">   
                  <div class="col-sm-12">  
                    <div class="mb-3">
                      <label class="form-label">Product Unit</label>
                      <select class="form-select  js-example-basic-single" name="unit">
                        <option>Select Unit</option>
                        {% for productUnit in productUnit %}
                       <option value="{{productUnit.id}}">{{ productUnit.name }}</option>
                       {% endfor %}
                       
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-sm-12">
                    <div class="mb-3">  
                      <label class="form-label">Buy Price</label>
                      <input class="form-control" type="text" name="buyPrice"  pattern="\d+(\.\d{1,2})?" title="Please enter a number with up to two decimal places">
                    </div>
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-sm-12">
                    <div class="mb-3">  
                      <label class="form-label">Sell Price</label>
                      <input class="form-control" type="text" name="sellPrice"  pattern="\d+(\.\d{1,2})?" title="Please enter a number with up to two decimal places" >
                    </div>
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-sm-12">
                    <div class="mb-3">  
                      <label class="form-label">Discount</label>
                      <input class="form-control" type="text" name="discount"  pattern="\d+(\.\d{1,2})?" title="Please enter a number with up to two decimal places">
                    </div>
                  </div>
                </div>

                <div class="row"> 
                  <div class="col-sm-12">
                    <div class="mb-3">  
                      <label class="form-label">Stock</label>
                      <input class="form-control" type="number" name="stock">
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary me-3" type="submit">ADD </button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
{% endblock body %}
